.ytaf-ui-container {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;

  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 20px;
  padding: 20px;
  font-size: 1.5rem;
  z-index: 1000;
}

.ytaf-ui-container :focus {
  outline: 4px #008080 solid;
}

.ytaf-ui-container h1 {
  margin: 0;
  margin-bottom: 0.5em;
  text-align: center;
}

.ytaf-ui-container input[type='checkbox'] {
  width: 2rem;
  height: 1.5rem;
}

.ytaf-ui-container label {
  display: block;
  font-size: 2rem;
}

.ytaf-notification-container {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 16pt;
  z-index: 1200;
}

.ytaf-notification-container .message {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 1em;
  margin: 0.5em;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  line-height: 1;
  border-right: 10px solid rgba(50, 255, 50, 0.3);
  display: inline-block;
  float: right;
}

.ytaf-notification-container .message-hidden {
  opacity: 0;
  margin: 0 0.5em;
  padding: 0 1em;
  line-height: 0;
}

/* Logo YouTube */
.ytlr-logo-entity {
  visibility: hidden;
}

/* Pendant une video (sans segments), la barre rouge */
.ytlr-progress-bar__slider {
  opacity: 0.40;
}
.ytlr-progress-bar__slider > .ytlr-progress-bar__played {
  background-color: #008080;
}

/* Pendant une video (avec segments), la barre rouge */
.ytlr-progress-bar__slider-base {
  opacity: 0.40;
}
.ytlr-progress-bar__slider-base > .ytlr-multi-markers-player-bar-renderer__played-segment {
  background-color: #008080;
}
.ytlr-multi-markers-player-bar-renderer__played-progress {
  background-color: #008080;
}

/* Dans l'historique, les barres rouges */
.ytlr-thumbnail-overlay-resume-playback-renderer__progress-watched {
  opacity: 0.75;
  background-color: #008080;
}

/* Les miniatures des videos (menu et sous video) */
.ytlr-tile-header-renderer__thumbnail-container {
  opacity: 0.50;
}
